# Archivos de registro
*.log
logs/
# Archivos de compilación y empaquetado de Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
# Archivos específicos del IDE
.idea/
*.iml
*.iws
.project
.classpath
.settings/
.sts4-cache/
# Archivos específicos de VS Code
.vscode/
# Archivos del sistema operativo (macOS, Windows)
.DS_Store
Thumbs.db
# Archivo de la JVM en caso de crash
hs_err_pid*